@font-face {
	font-family: 'Roboto-light';
	font-weight: 300;
	src: url('../fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
	font-family: 'Roboto-regular';
	font-weight: 400;
	src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'Roboto-bold';
	font-weight: 700;
	src: url('../fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
	font-family: 'Roboto-black';
	font-weight: 900;
	src: url('../fonts/Roboto/Roboto-Black.ttf');
}