.our-team-block {
	border-top: 1px solid #C2C2C2;
	position: relative;
}
.container {}
.our-services-title {}
.our-team-grid {
	min-height: 629px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.our-team-item {}
.our-team-item {
	display: flex;
	align-items: center;
}
.our-team-img {
	flex: 0 0 100px;
}
.our-team-text {
	width: calc(100% - 100px);
	padding-left: 35px;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 11px;
}
.our-team-text h4 {
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	color: #202020;
}
.our-team-text span {
	font-size: 14px;
	line-height: 16px;
	color: #B2B2B2;
}