.footer-block {
	background: #F7F7F7;
}
.container {}
.footer-content {
	min-height: 100px;
	display: grid;
	grid-template-columns: 100px 1fr;
	align-content: center;
}
.footer-logo {}
.footer-social ul {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: flex-end;
}
.footer-social ul li > a {
	font-size: 24px;
	line-height: 28px;
	color: #B2B2B2;
}
.footer-social ul li {
	margin-left: 40px;
}
.footer-social ul li:first-child {
	margin-left: 0px;
}
.fab {}
.fa-github {}
.fa-behance {}
.fa-linkedin-in {}
.fa-codepen {}