body {
	font-family: 'Ubuntu', sans-serif;
}
.text-center {
	text-align: center;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
.container {
	max-width: 1186px;
	margin: 0px auto;
}
.background-setting {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
